[submodule "timedropper"]
	path = TimeDropper-Ex
	url = ../TimeDropper-Ex
	branch = master
[submodule "jquery-date-range-picker"]
	path = jquery-date-range-picker
	url = ../jquery-date-range-picker
	branch = master
