[submodule "timedropper"]
	path = TimeDropper-Ex
	url = ../TimeDropper-Ex
	branch = master
[submodule "jquery-date-range-picker"]
	path = DateRange-Picker-Ex
	url = ../DateRange-Picker-Ex
	branch = master
